[Unit]
Description=Pi Camera Security System
After=network.target

[Service]
Type=simple
User=picamara
WorkingDirectory=/home/picamara/Pi_camara
Environment="PATH=/home/picamara/Pi_camara/venv/bin"
ExecStart=/home/picamara/Pi_camara/venv/bin/python run.py
Restart=always
RestartSec=10
StandardOutput=append:/home/picamara/Pi_camara/logs/server.log
StandardError=append:/home/picamara/Pi_camara/logs/server.log

[Install]
WantedBy=multi-user.target
